@import "tailwindcss";

.todo-item{
background-color: #181d46;
width: 370px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
margin: 20px auto;
color: white;
border-radius: 8px;
  border: 2px solid #222657;
}

.del{
    color: rgb(146, 14, 14);
}

.todo-item:first-child{
    margin-top: 36px;
}

.btn-group{
    display: flex;
    gap: 10px;
}

.done{
    width: 300px;
}